<div id="results">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Duration</th>
            </tr>
        </thead>

        <tbody>
            {{#each}}
                <tr>
                    <td><a {{bind-attr href=href}}>{{name}}</a></td>
                    <td>
                        <ul class="artists">
                        {{#each artist in artists}}
                            <li><a {{bind-attr href=artist.href}}>{{artist.name}}</a></li>
                        {{/each}}
                        </ul>
                    </td>
                    <td><a {{bind-attr href=album.href}}>{{album.name}}</a></td>
                    <td>{{format-time length}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
